worflow_scraping.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://tldr.tech/infosec/2025-11-18",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -400,
        96
      ],
      "id": "fdd51085-f202-42ca-b3e5-ce0ab5d3343b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "article_title",
              "cssSelector": "article h3",
              "returnArray": true
            },
            {
              "key": "article_description",
              "cssSelector": "article div",
              "returnArray": true
            },
            {
              "key": "article_link",
              "cssSelector": "article > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -176,
        96
      ],
      "id": "1162b373-6b8c-4ddb-b842-ed4c17ecb9ba",
      "name": "HTML"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        96
      ],
      "id": "77781a42-a064-4c94-aedc-33eb12c4720f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "article_title, article_description, article_link",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        64,
        96
      ],
      "id": "e373e372-8a60-4fae-a541-da435afe8601",
      "name": "Split Out"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        288,
        96
      ],
      "id": "8e756984-bbc3-434f-930f-b2e3810678c4",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write me a short abstract (ten word maximum) : \n\n{{ $json.article_description }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        512,
        96
      ],
      "id": "74281ae3-673e-48b0-b79b-3a7194d4a175",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "gemma3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        576,
        320
      ],
      "id": "63c6a1ae-9783-4fd6-8069-31c348b4e9e3",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "DWcUhrTm1vUR5wA4",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e068b9d8db735a64fdb7d3422123e7640d678cebcd25cff1dfacad620bda570d"
  }
}